<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>page0</title>
</head>
<body>
   <div>
      <h2>Login Page</h2>
      <big>  
         <a href="localhost:8080/api/login">localhost:8080/api/login</a>
      </big>
      <h2>Register Page</h2>
      <big>  
         <a href="localhost:8080/api/register">localhost:8080/api/register</a>
      </big>
   </div>
</body>
</html>